<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminContact">
	
	<select id="selectListContactList" resultType="ContactDTO">
		SELECT 
				*
		FROM 
				CONTACT
	</select>
	<select id="selectListSearchContactList" parameterType="hashmap" resultType="ContactDTO">
		SELECT 
			*
		FROM 
			CONTACT
		WHERE	
			<if test='searchKey.equals("userId")'>
				USER_ID LIKE CONCAT('%',#{searchWord},'%')			
			</if>
			<if test='searchKey.equals("subject")'>
				SUBJECT LIKE CONCAT('%',#{searchWord},'%')					
			</if>
			<if test='searchKey.equals("category")'>
				CATEGORY LIKE CONCAT('%',#{searchWord},'%')					
			</if>
	</select>
	
	<select id="selectOneContactDetail" resultType="ContactDTO">
		SELECT 
				*
		FROM 
				CONTACT
		WHERE
				CONTACT_CD = #{contactCd}
	</select>
	
	<update id="updateReply" parameterType="ContactDTO">
	 	UPDATE 
	 			CONTACT
	 	SET 
	 			REPLY = #{reply},
	 			REPLY_YN = "Y"
		WHERE 
				CONTACT_CD = #{contactCd}
	</update>	
	
	<delete id="deleteContactList">
		DELETE FROM
			CONTACT
		WHERE
			CONTACT_CD IN
			<foreach collection="array" item="contactCd" separator="," open="(" close=")">
				#{contactCd}
			</foreach>
	</delete>
	
</mapper>