<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminDigging">
	<select id="selectListMainTitle" resultType="mainTitleDTO">
		SELECT 
			*
		FROM 
			MAIN_TITLE
	</select>
	<select id="selectListSubTitle" resultType="subTitleDTO">
		SELECT 
			*
		FROM 
			SUB_TITLE
	</select>
	
	<insert id="insertDigging">
		INSERT INTO DIGGING(
			WRITER,
			SUBJECT,
			CONTENT,
			FILE,
			VIDEO_YN,
			VIDEO_ID,
			MAIN_TITLE_ID,
			SUB_TITLE_ID,
			ENROLL_DT
		)
		VALUES (
			#{writer},
			#{subject},
			#{content},
			#{file},
			#{videoYn},
			#{videoId},
			#{mainTitleId},
			#{subTitleId},
			NOW()
		)	
	</insert>
	
	
	<select id="selectListDiggingList" resultType="DiggingDTO">
		SELECT 
			*
		FROM 
			DIGGING
	</select>
	
	<delete id="selectListdeleteDigging">
		DELETE FROM
			DIGGING
		WHERE
			DIGGING_ID IN
			<foreach collection="array" item="diggingId" separator="," open="(" close=")">
				#{diggingId}
			</foreach>
	</delete>
	
	<select id="selectListSearchDigging" parameterType="hashmap" resultType="DiggingDTO">
		SELECT
			*
		FROM
			DIGGING
		WHERE
			<if test='searchKey.equals("subject")'>
				SUBJECT LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test='searchKey.equals("writer")'>
				WRITER LIKE CONCAT('%',#{searchWord},'%')
			</if>
			<if test='searchKey.equals("content")'>
				CONTENT LIKE CONCAT('%',#{searchWord},'%')
			</if>
	</select>
	<select id="selectListSubTitleDTO" parameterType="int" resultType="subTitleDTO">
		SELECT 
			*
		FROM
			SUB_TITLE
		WHERE 
			MAIN_ID = #{mainId} 
	</select>
</mapper>