<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="selectOneLoginAdmin" parameterType="AdminDTO" resultType="AdminDTO">
		SELECT 
				*
		FROM
				ADMIN
		WHERE 
				ADMIN_ID = #{adminId}
	</select>
	<insert id="insertRegisterAdmin" parameterType="AdminDTO">
		INSERT INTO 
				ADMIN
		VALUES (
			#{adminId},
			#{adminNm},
			#{passwd},
			NOW()
		)
	</insert>
	
	<select id="selectOneTodayReplyCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(REPLY_ID)
		FROM
			REPLY
		WHERE
			LEFT(ENROLL_DT, 10) = #{today}
	
	</select>
	<select id="selectOneTodayDiggingCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(DIGGING_ID)
		FROM
			DIGGING
		WHERE
			LEFT(ENROLL_DT, 10) = #{today}

	</select>
	<select id="selectOneTodayUserCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(USER_ID)
		FROM
			USER
		WHERE
			LEFT(JOIN_DT, 10) = #{today}
	
	</select>
	<select id="selectOneTodayShopCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(PRODUCT_CD)
		FROM
			SHOP
		WHERE
			LEFT(ENROLL_DT, 10) = #{today}
	
	</select>
	<select id="selectOneTodaySaleCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(ORDER_CD)
		FROM
			ORDERED
		WHERE
			LEFT(PAY_ORDER_TIME, 10) = #{today}
	</select>
	
	<resultMap type="hashmap" id="userStaticMap">
		<result column="USER_COUNT" property="countUser" />
		<result column="JOIN_USER" property="joinDt" />
	</resultMap>
	<select id="selectListUserStatic" resultMap="userStaticMap">
		SELECT 
			COUNT(USER_ID) AS USER_COUNT,
			DATE_FORMAT(JOIN_DT,'%y-%m-%d') AS JOIN_USER
		FROM 
			USER
		GROUP BY
			JOIN_USER
		ORDER BY
			JOIN_USER
	</select>
	<select id="selectListNoticeList" resultType="DiggingDTO">
		SELECT 
			*
		FROM 
			DIGGING
		WHERE
			DIGGING_TOPIC = 'notice'
	</select>
	<select id="selectOneMonthOrder" resultType="int">
		SELECT 
			SUM(PAYMENT_AMT) AS TOTAL
		FROM 
			ORDERED
		WHERE
			PAY_ORDER_TIME BETWEEN '2023-11-01' AND NOW()
	</select>
</mapper>