<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminUser" >
	<select id="selectListUser" resultType="UserDTO">
		SELECT 
				*
		FROM 
				USER	
	</select>
	<select id="selectListAdmin" resultType="AdminDTO">
		SELECT 
				*
		FROM 
				ADMIN
	</select>
	<select id="selectListSearchAdmin" parameterType="AdminDTO" resultType="hashMap">
		SELECT 
				*
		FROM 
				ADMIN
		<where>
			<if test='searchKey == "adminId"'>
				ADMIN_ID LIKE IN CONCAT ('%', '#{searchKeyword}', '%')
			</if>
		</where>
	</select>
</mapper>