<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="selectOneLoginAdmin" parameterType="AdminDTO" resultType="AdminDTO">
		SELECT 
				*
		FROM
				ADMIN
		WHERE 
				ADMIN_ID = #{adminId}
	</select>
	<insert id="insertRegisterAdmin" parameterType="AdminDTO">
		INSERT INTO 
				ADMIN
		VALUES (
			#{adminId},
			#{adminNm},
			#{passwd},
			#{adminRank},
			NOW()
		)
	</insert>
</mapper>