<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common">
	<resultMap type="hashmap" id="diggingUserListMap">
		<result column="DIGGING_ID" property="diggingId"/>
		<result column="USER_ID" property="userId"/>
		<result column="SUBJECT" property="subject"/>
		<result column="CONTENT" property="content"/>
		<result column="READ_CNT" property="readCnt"/>
		<result column="DIGGING_TOPIC" property="diggingTopic"/>
		<result column="ENROLL_DT" property="enrollDT"/>
		<result column="REPLY_CNT" property="replyCnt"/>
		<result column="THUMBS_UP" property="thumbsUp"/>
		<result column="FILE" property="file"/>
		<result column="PROFILE" property="profile"/>
		<result column="LIKE_POINT" property="likePoint"/>
	</resultMap>
	<select id="selectListDiggingList" resultMap="diggingUserListMap">
		SELECT 
				D.DIGGING_ID	AS DIGGING_ID,
				D.WRITER		AS USER_ID, 
				D.SUBJECT		AS SUBJECT,
				D.CONTENT		AS CONTENT,
				D.READ_CNT		AS READ_CNT,
				D.DIGGING_TOPIC	AS DIGGING_TOPIC,
				D.ENROLL_DT		AS ENROLL_DT,
				D.REPLY_CNT		AS REPLY_CNT,
				D.THUMBS_UP		AS THUMBS_UP,
				D.FILE			AS FILE,
				U.PROFILE		AS PROFILE
		FROM 
				DIGGING AS D
			JOIN USER	 AS U
				 ON		D.WRITER = U.USER_ID
							 	
	</select>
	
	<select id="selectListSortDiggingList" parameterType="String" resultType="DiggingDTO">
		SELECT 
				*
		FROM 
				DIGGING
		ORDER BY 
			<if test='sort == "readCnt"'>
				READ_CNT DESC;	
			</if> 
			<if test='sort== "thumbsUp"'>
				THUMBS_UP DESC;	
			</if> 
			<if test='sort == "recent"'>
				DIGGING_ID DESC;	
			</if>
	</select>
	
	<select id="selectListHeadList" resultType="DiggingDTO">
		SELECT 
			*
		FROM 
			DIGGING
		WHERE
			DIGGING_TOPIC = "notice" 
	</select>
	
	<select id="selectOneAllDiggingCnt" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			DIGGING
	</select>
	
	<update id="updateThumbsUp" parameterType="long">
		UPDATE 
			DIGGING
		SET
			THUMBS_UP = THUMBS_UP + 1
		WHERE 
			DIGGING_ID = #{diggingId};
	</update>
	
</mapper>