<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="digging">
	<insert id="insertDigging">
		INSERT INTO DIGGING(
			WRITER,
			SUBJECT,
			CONTENT,
			DIGGING_TOPIC,
			FILE,
			ENROLL_DT
		)
		VALUES (
			#{writer},
			#{subject},
			#{content},
			#{diggingTopic},
			#{file},
			NOW()
		)	
	</insert>
	<select id="selectListDiggingList" resultType="DiggingDTO">
		SELECT 
				*
		FROM 
			DIGGING
	</select>
	<select id="selectListUser" resultType="UserDTO">
		SELECT 
				*
		FROM 
			USER
	</select>
	
	<select id="selectDiggingDetail" parameterType="long" resultType="DiggingDTO">
		SELECT 
			*
		FROM 
			DIGGING
		WHERE 
			DIGGING_ID = #{diggingId}
	</select>
	
	<update id="updateThumbsUp">
		UPDATE DIGGNG
		SET 
			THUMBS_UP = THUMBS_UP + 1 
		WHERE 
			DIGGING_ID = #{diggingId}
	</update>
	
	<select id="selectOneAllReplyCnt" parameterType="long" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			REPLY
		WHERE
			DIGGING_ID = #{diggingId}	
	</select>
	
	<select id="selectListReplyList" parameterType="long" resultType="ReplyDTO">
		SELECT 
			*
		FROM 
			REPLY
		WHERE
			DIGGING_ID = #{diggingId}
	</select>
</mapper>