<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="digging">
	<resultMap type="hashmap" id="diggingDetailMap">
		<result column="DIGGING_ID"	 	property="diggingId"/>
		<result column="WRITER" 		property="writer"/>
		<result column="SUBJECT" 		property="subject"/>
		<result column="CONTENT" 		property="content"/>
		<result column="READ_CNT" 		property="readCnt"/>
		<result column="DIGGING_TOPIC" 	property="diggingTopic"/>
		<result column="ENROLL_DT" 		property="enrollDT"/>
		<result column="REPLY_CNT" 		property="replyCnt"/>
		<result column="THUMBS_UP" 		property="thumbsUp"/>
		<result column="FILE" 			property="file"/>
		<result column="VIDEO_YN" 		property="videoYn"/>
		<result column="VIDEO_ID" 		property="videoId"/>
		<result column="DIG" 			property="dig"/>
		<result column="PROFILE" 		property="profile"/>
	</resultMap>
	<select id="selectListDiggingList" parameterType="hashmap"  resultMap="diggingDetailMap">
		SELECT 
				D.DIGGING_ID	AS DIGGING_ID,
				D.WRITER		AS WRITER, 
				D.SUBJECT		AS SUBJECT,
				D.CONTENT		AS CONTENT,
				D.READ_CNT		AS READ_CNT,
				D.DIGGING_TOPIC	AS DIGGING_TOPIC,
				D.ENROLL_DT		AS ENROLL_DT,
				D.REPLY_CNT		AS REPLY_CNT,
				D.THUMBS_UP		AS THUMBS_UP,
				D.FILE			AS FILE,
				D.VIDEO_YN		AS VIDEO_YN,
				D.VIDEO_ID		AS VIDEO_ID,
				D.DIG 			AS DIG,
				U.PROFILE		AS PROFILE
		FROM 
			DIGGING D
			JOIN USER U
				ON D.WRITER = U.USER_ID
		WHERE 
			DIGGING_TOPIC = #{diggingTopic} 
			<choose>
				<when test='dig != ""'>
				AND DIG = #{dig}
				</when>
				<otherwise>
				</otherwise>
			</choose>
		ORDER BY 
		<if test='sort == "readCnt"'>
			READ_CNT DESC	
		</if> 
		<if test='sort== "thumbsUp"'>
			THUMBS_UP DESC	
		</if> 
		<if test='sort == "recent"'>
			DIGGING_ID DESC	
		</if>
		<if test='sort == null'>
			DIGGING_ID DESC	
		</if>	
		LIMIT 
			#{startDiggingIdx}, #{onePageViewCnt}	
	</select>

	<select id="selectListPopulerList" parameterType="hashmap"  resultType="DiggingDTO">
		SELECT 
				*
		FROM 
			DIGGING
		WHERE 
			DIGGING_TOPIC = #{diggingTopic} 
			AND
			ENROLL_DT >= DATE_SUB(NOW(),INTERVAL 7 DAY)
		ORDER BY 
			READ_CNT DESC
		LIMIT 3
	</select>
	
	<select id="selectOneDiggingCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			DIGGING
		WHERE 
			DIGGING_TOPIC = #{diggingTopic} 
	</select>
	
	<select id="selectListUser" parameterType="String"  resultType="DiggingDTO">
		SELECT 
				*
		FROM 
			USER
		WHERE 
			USER_ID = (SELECT WRITER FROM DIGGING)
	</select>
	<select id="selectListDigList" parameterType="String" resultType="DiggingDTO">
		SELECT 
			DIGGING_TOPIC, DIG
		FROM
			DIGGING
		WHERE
			DIGGING_TOPIC = #{diggingTopic}
		GROUP BY 
			DIG
	</select>
	<insert id="insertDigging">
		INSERT INTO DIGGING(
			WRITER,
			SUBJECT,
			CONTENT,
			DIGGING_TOPIC,
			FILE,
			VIDEO_YN,
			VIDEO_ID,
			DIG,
			ENROLL_DT
		)
		VALUES (
			#{writer},
			#{subject},
			#{content},
			#{diggingTopic},
			#{file},
			#{videoYn},
			#{videoId},
			#{dig},
			NOW()
		)	
	</insert>
	<update id="updateDigCnt" parameterType="String">
		UPDATE 
			DIG
		SET 
			DIG_CNT = DIG_CNT + 1 	
		WHERE
			DIG = #{dig}
	</update>
	<select id="selectDiggingDetail" parameterType="long" resultMap="diggingDetailMap">
		SELECT 
				D.DIGGING_ID	AS DIGGING_ID,
				D.WRITER		AS WRITER, 
				D.SUBJECT		AS SUBJECT,
				D.CONTENT		AS CONTENT,
				D.READ_CNT		AS READ_CNT,
				D.DIGGING_TOPIC	AS DIGGING_TOPIC,
				D.ENROLL_DT		AS ENROLL_DT,
				D.REPLY_CNT		AS REPLY_CNT,
				D.THUMBS_UP		AS THUMBS_UP,
				D.FILE			AS FILE,
				D.VIDEO_YN		AS VIDEO_YN,
				D.VIDEO_ID		AS VIDEO_ID,
				U.PROFILE		AS PROFILE
		FROM 
			DIGGING D
			JOIN USER U
				ON D.WRITER = U.USER_ID
		WHERE 
			D.DIGGING_ID = #{diggingId}
	</select>
	<update id="updateReadCnt">
		UPDATE DIGGING
		SET 
			READ_CNT = READ_CNT + 1
		WHERE 
			DIGGING_ID = #{diggingId}
	</update>
	
	<update id="updateThumbsUp" parameterType="long">
		UPDATE DIGGING
		SET 
			THUMBS_UP = THUMBS_UP + 1 
		WHERE 
			DIGGING_ID = #{diggingId}
	</update>
	
	<select id="selectOneAllReplyCnt" parameterType="long" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			REPLY
		WHERE
			DIGGING_ID = #{diggingId}	
	</select>
	
	<select id="selectListReplyList" parameterType="long" resultType="ReplyDTO">
		SELECT 
			*
		FROM 
			REPLY
		WHERE
			DIGGING_ID = #{diggingId}
	</select>

	<update id="updateModifyDigging" parameterType="DiggingDTO">
		UPDATE 
			DIGGING
		<set>
			<if test='subject != null and subject!=""'>
				SUBJECT = #{subject},
			</if>
			<if test='content != null and content != ""'>
				CONTENT = #{content},
			</if>
			<if test='file != null and file != ""'>
				file = #{file},
			</if>
			<if test='diggingTopic != null and diggingTopic != ""'>
				DIGGING_TOPIC = #{diggingTopic}
			</if>
		</set>
		WHERE 
			DIGGING_ID = #{diggingId}			
	</update>
	<delete id="deleteDigging" parameterType="long">
		DELETE FROM 
				DIGGING
		WHERE
			DIGGING_ID = #{diggingId}
	</delete>
</mapper>