<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	
	<select id="selectOneShop" parameterType="long" resultType="ShopDTO">
		SELECT 
				*
		FROM 
				SHOP
		WHERE
				PRODUCT_CD = #{productCd}
	</select>

	<select id="selectOneUser" parameterType="String" resultType="UserDTO">
		SELECT 
				*
		FROM 
				USER
		WHERE
				USER_ID = #{userId}	
	</select>
	
	<select id="selectListCartProductList" resultType="ShopDTO">
		SELECT 
			*
		FROM 
			SHOP S
			JOIN CART C
					ON S.PRODUCT_CD =C.PRODUCT_CD
					AND S.PRODUCT_CD IN
						<foreach collection="array" item="productCd" separator="," open="(" close=")">
							#{productCd}
						</foreach>
		ORDER BY 
			C.ENROLL_DT DESC
	</select>
	
</mapper>