<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="order">
	
	<select id="selectOneShopDTO" parameterType="long" resultType="ShopDTO">
		SELECT 
			*
		FROM 
			SHOP
		WHERE
			PRODUCT_CD = #{productCd}
	</select>

	<select id="selectOneDuplicatedCart" parameterType="hashmap" resultType="CartDTO">
		SELECT 
			*
		FROM 
			CART
		WHERE 
			USER_ID = #{userId} AND
			PRODUCT_CD = #{productCd}
	</select>
	
	<select id="selectOneUser" parameterType="String" resultType="UserDTO">
		SELECT 
			*
		FROM 
			USER
		WHERE
			USER_ID = #{userId}
	</select>
	
	<select id="selectOneMyCartCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			CART
		WHERE 
			USER_ID = #{userId}
	</select>
	
	<insert id="insertMyCart" parameterType="CartDTO">
		INSERT INTO 
			CART (
				CART_CD,
				USER_ID,
				CART_QTY,
				PRODUCT_CD,
				ENROLL_DT
			)
		VALUE(
				#{cartCd},
				#{userId},					
				#{cartQty},
				#{productCd},					
				NOW()					
		)
	</insert>
	<select id="selectOneDuplicatedKeep" parameterType="hashmap" resultType="KeepDTO">
		SELECT 
			*
		FROM 
			KEEP
		WHERE 
			USER_ID = #{userId} AND
			PRODUCT_CD = #{productCd}
	</select>
	
	<select id="selectOneMyKeepCnt" parameterType="String" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			KEEP
		WHERE 
			USER_ID = #{userId}
	</select>
	
	<insert id="insertMyKeep" parameterType="KeepDTO">
		INSERT INTO 
			KEEP (
				KEEP_CD,
				USER_ID,
				KEEP_QTY,
				PRODUCT_CD,
				ENROLL_DT
			)
		VALUE(
				#{keepCd},
				#{userId},					
				#{keepQty},
				#{productCd},					
				NOW()					
		)
	</insert>
	
	<resultMap type="hashmap" id="cartMap">
		<result column="CART_CD" property="cartCd"/>
		<result column="USER_ID" property="userId"/>
		<result column="CART_QTY" property="cartQty"/>
		<result column="ENROLL_DT" property="enrollDt"/>
		<result column="PRODUCT_CD" property="productCd"/>
		<result column="PRODUCT_NM" property="productNm"/>
		<result column="WRITER" property="writer"/>
		<result column="PRICE" property="price"/>
		<result column="DISCOUNT_RATE" property="discountRate"/>
		<result column="DELIVERY_PRICE" property="deliveryPrice"/>
		<result column="PRODUCT_FILE" property="productFile"/>
		<result column="POINT" property="point"/>
	</resultMap>
	<select id="selectListCartList" parameterType="String" resultMap="cartMap">
		SELECT 
			C.CART_CD 			AS CART_CD,
			C.USER_ID 			AS USER_ID,
			C.PRODUCT_CD 		AS PRODUCT_CD,
			C.CART_QTY			AS CART_QTY,
			C.ENROLL_DT			AS ENROLL_DT,
			C.PRODUCT_CD		AS PRODUCT_CD,
			S.PRODUCT_NM		AS PRODUCT_NM,
			S.WRITER			AS WRITER,
			S.PRICE				AS PRICE,
			S.DISCOUNT_RATE 	AS DISCOUNT_RATE,
			S.DELIVERY_PRICE	AS DELIVERY_PRICE,
			S.PRODUCT_FILE 		AS PRODUCT_FILE,
			S.POINT				AS POINT
		FROM 
			 CART 	AS C
		JOIN SHOP 	AS S
			 	ON C.PRODUCT_CD = S.PRODUCT_CD
		WHERE 
			 USER_ID = #{userId} 
		ORDER BY 
			 C.ENROLL_DT DESC	
	</select>
	
	<update id="updateCartQty" parameterType="hashMap">
		UPDATE 
				CART
		SET
				CART_QTY = #{cartQty}
		WHERE 
				CART_CD = #{cartCd}		
	</update>
	
	<delete id="deleteCart" >
		DELETE FROM 
				CART
		WHERE
				CART_CD IN
		<foreach collection="array" item="cartCd" separator="," open="(" close=")">
			#{cartCd}
		</foreach>
	</delete>
	
	<select id="selectListCartProductList" resultType="ShopDTO">
		SELECT 
			*
		FROM 
			SHOP S
			JOIN CART C
					ON S.PRODUCT_CD =C.PRODUCT_CD
					AND S.PRODUCT_CD IN
						<foreach collection="array" item="productCd" separator="," open="(" close=")">
							#{productCd}
						</foreach>
		ORDER BY 
			C.ENROLL_DT DESC
	</select>
	
</mapper>