<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shop">
	<select id="selectListProductList" resultType="ShopDTO">
		SELECT 
				*
		FROM 
				SHOP
	</select>
	<select id="selectListdiscountRateList" resultType="ShopDTO">
		SELECT 
				*
		FROM 
				SHOP
		ORDER BY
				DISCOUNT_RATE DESC
		LIMIT 	
				5
	</select>
	
	<insert id="insertProduct" parameterType="ShopDTO">
		INSERT INTO SHOP (
			PRODUCT_NM,
			WRITER, 
			PRICE, 
			DISCOUNT_RATE,
			STOCK,
			SORT,
			DELIVERY_PRICE,
			DELIVERY_METHOD,
			CONTENT,
			PRODUCT_FILE,
			ENROLL_DT
		)
		VALUES (	
			#{productNm},
			#{writer},
			#{price},
			#{discountRate},
			#{stock},
			#{sort},
			#{deliveryPrice},
			#{deliveryMethod},
			#{content},
			#{productFile},
			NOW()
		)
	</insert>
	
	<select id="selectListSortList" parameterType="String" resultType="ShopDTO">
		SELECT 
			*
		FROM
		 	SHOP
		WHERE
			SORT = #{sort}
	</select>
	
	<select id="selectOneProductDetai" parameterType="long" resultType="ShopDTO">
		SELECT 
			*
		FROM
		 	SHOP
		WHERE 
			PRODUCT_ID = #{productId}
	</select>
	
</mapper>